.Contact-input {
       display: flex;
       flex-wrap: wrap;
       margin: 5px;
}

.Contact-input-Message{
    width: 400px;
    height: 200px;
}

.porta{
    padding: 10px;
}

#d1, #d3, #d5, #d7, #d9, #d11 {
    position:relative;
    z-index: 1;
}

#d2, #d4, #d6, #d8, #d10, #d12{
    position:absolute;
    bottom:0;
    left: 210px;
}

.portsubitem1 {
    height: 50px;
    width: 50px;
}