
:root {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  }

  main, body{
    background-color: aliceblue;
  }
  
  .header {
    background-color: darkgrey;
    height: 100px;
  } 
  
  h1 {
    font-size: 48px;
    color: navy;
    line-height: 1.1;
  }
  
  a {
    font-weight: 500;
    color: black;
    text-decoration: inherit;
  }
  a:hover {
    color: yellow;
  }

  .nav-tabs {
    list-style: none;
    display: flex;
    margin: 50px;
  }

  .nav-item {
    padding: 10px;
    font-size: x-large;
    
  }

  .footer{
    background-color: darkgrey;
    text-align: center;
  } 

  .footitem {
    padding: 10px;
    text-align: center;
  }
 

  .foota {
    height: 20px;
    width:  20px;
    margin-top: 5px;
  }

  .footitem:hover {
    background-color: white;
  }

  #resumedownload{
    font-size: 20px;
  }

  #resumedownload:hover{
    color: yellow;
    background-color: darkgrey;
  }

  .Contact-input {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

h3 {
 font-size: 24px;
 
}

.Contact-input-Message{
 width: 400px;
 height: 200px;
}


@media screen and (max-width: 1020px) {

  .header {
    background-color: darkgrey;
    height: 100px;
  } 
  
  h1 {
    font-size: 30px;
    color: navy;
    line-height: 1.1;
  }
  

  .nav-tabs {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
  }

  .nav-item {
    padding: 5px;
    font-size: large;
    
  }
}